.clientBlogWrapper {
  @apply flex flex-col gap-4;
}

.heading-section {
  @apply flex flex-col gap-4 p-4 w-full bg-background shadow-2xl text-white;

  h2 {
    @apply bg-opacity-40 text-3xl text-center px-8 py-2 rounded;
  }
}

.filter-wrapper {
  @apply w-full;

  .filterArea {
    @apply grid grid-cols-1 md:grid-cols-2 w-full gap-4;
  }

  .search {
    h2 {
      @apply text-white;
    }
    @apply text-black;
  }
}

.sortby {
  @apply text-center flex;
  ul {
    @apply flex justify-around flex-wrap;

    li {
      @apply bg-gray-400 px-2 py-2 mb-2 rounded cursor-pointer;

      &[data-active="true"] {
        @apply bg-primary;
      }
    }
  }
}

.outer-html {
  @apply px-4 py-4;
  ul {
    @apply flex flex-col gap-2 my-2 px-2;
  }
  h2 {
    @apply my-4 flex items-center gap-2 font-semibold underline;
    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      bottom: -4px;
      left: 0;
      border-radius: 20px;
      background-color: #3498db;
    }
  }
}

// .blogs-wrapper {
//   @apply0;
// }

.content-wrapper {
  @apply grid grid-cols-1 md:grid-cols-[2fr,1fr] gap-8;
}

.latestBlog {
  @apply mb-4;
}

.otherBlogs {
  @apply flex flex-col gap-3;
}

.richText {
  @apply flex flex-col gap-3 bg-gray-200 p-4;

  p {
    @apply italic;

    p {
      @apply text-right mt-2 mr-10;
    }
  }
}

.most-popular {
  h2 {
    @apply text-xl mb-4 font-semibold;
  }
}

.filter-wrapper {
  h2 {
    @apply font-medium text-xl mb-4;
  }
}
.filter-category {
  @apply grid grid-cols-2 gap-2;
}

.sortBy {
  @apply mb-8;
}
//! Client BLOG PAGE

.overflowHidden {
  @apply overflow-x-hidden;
}

//!  Client Single BLOG

.clampSizeContainer {
  @apply max-w-7xl mx-auto mb-10;

  .innerContainer {
    @apply flex flex-col gap-10;

    .blogHeader {
      @apply bg-gray-900  text-white flex flex-col text-center font-bold  px-2 shadow-md text-base sm:text-3xl py-10;

      .blogTitle {
        @apply mt-2;
      }

      .clockIcon {
        @apply flex items-center justify-center gap-2 text-xs mt-2;
      }
    }

    .gridContainer {
      @apply grid grid-cols-1 md:grid-cols-[1fr,350px] gap-2 text-justify;

      .leftContainer {
        @apply bg-white;

        .headerContainer {
          @apply flex items-center px-4;

          .goBackLink {
            @apply block bg-lightBlue p-2 my-4 rounded;

            .arrowIcon {
              @apply text-white;
            }
          }

          .pageTitle {
            @apply px-4 py-2 font-medium;
          }
        }

        .blogImage {
          @apply aspect-video mx-auto my-4 rounded;
        }

        .htmlContainer {
          @apply outer-html;
        }
      }

      .rightContainer {
        @apply flex flex-col;

        .otherBlogsContainer {
          @apply bg-white px-4 py-10 text-sm;

          .otherBlogsHeader {
            @apply text-lg text-center font-bold mb-4;
          }
        }
      }
    }
  }
}

.otherBlogsList {
  @apply flex h-96 overflow-y-scroll flex-col gap-4;

  .otherBlogItem {
    @apply mb-2;

    .blogLink {
      @apply flex gap-2;

      .blogImage {
        @apply rounded;
        aspect-ratio: 11/9;
      }

      .blogDetails {
        @apply flex flex-col px-2 justify-between;

        .blogTitle {
          @apply font-medium text-left;
        }

        .blogMeta {
          @apply flex  gap-2 items-center;

          .readTime {
            @apply text-xs;
          }

          .dotSeparator {
            @apply w-2 h-2 bg-gray-400 rounded-full;
          }

          .lightBlueText {
            @apply text-lightBlue text-xs;
          }
        }
      }
    }
  }
}
