@import "./tailwind.css";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
}

.swiper-button-next {
  background: url("../../public/icon/arrow_right.png") no-repeat center /
    contain !important;
  width: 36px !important;
  height: 36px !important;
  box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 0.25);
  border-radius: 100%;
  cursor: pointer;

  position: absolute;
  left: -16px;
  top: calc(50% - 16px);
  z-index: 20;
  &::after {
    display: none;
  }
}

.swiper-button-prev {
  background: url("../../public/icon/arrow_left.png") no-repeat center / contain !important;
  width: 36px !important;
  height: 36px !important;
  box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 0.15);
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  left: -16px;
  top: calc(50% - 16px);
  z-index: 20;
  &::after {
    display: none;
  }
}

#nprogress .bar {
  background: red !important;
}


:root {
  --layout: hsl(0, 0%, 100%);
  --background: hsl(218, 16%, 246%);
  --foreground: hsl(60, 8%, 82%)

  --accent: hsl(220, 14%, 85%);
  --accent-foreground: hsl(240, 7%, 11%);

  --muted: hsl(60, 8%, 82%);
  --muted-foreground: hsl(0, 0%, 0%);

  --primary: hsl(221, 39%, 11%);
  --primary-foreground: hsl(234, 35%, 56%);

  --alternate:hsl(218, 16%, 246%);

  --secondary: hsl(204, 100%, 33%);
  --secondary-foreground: hsl(204, 100%, 56%);

  --hero-primary: hsl(132, 6%, 83%);
  --hero-secondary: hsl(211, 12%, 48%);
  --radius: 0.5rem;

  --border:hsl(0, 0%, 100%)
}

.dark {
  --layout: hsl(240, 7%, 11%);
  --background:hsl(230, 9%, 14%); 
  --foreground:hsl(60, 13%, 86%)
  --mask: hsl(0, 0%, 0%);

  --accent: hsl(240, 7%, 11%);
  --accent-foreground: hsl(220, 14%, 85%);

  --muted: hsl(0, 0%, 0%);
  --muted-foreground: hsl(218, 16%, 126%);

  --primary: hsl(0, 0%, 0%);
  --primary-foreground: hsl(234, 35%, 56%);

  --secondary: hsl(204, 100%, 33%);
  --secondary-foreground: hsl(204, 100%, 56%);
  --alternate: hsl(0, 0%, 0%);

  --hero-primary: hsl(240, 7%, 11%);
  --hero-secondary: hsl(240, 7%, 11%);

  --border: hsl(240, 7%, 0%)
  --input: hsl(0 0% 14.9%);
 
}


.swiper-slide{
  display: flex;
}